@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes heart-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1.3);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-heart-pop {
  animation: heart-pop 1.2s ease-in-out forwards;
}



.ip {
  width: 3em;
  height: 1.5em;
}

.ip__track {
  stroke: hsl(223, 90%, 90%);
  transition: stroke 0.3s;
}

.ip__worm1,
.ip__worm2 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.ip__worm1 {
  animation-name: worm1;
  animation-timing-function: linear;
}

.ip__worm2 {
  animation-name: worm2;
  animation-timing-function: linear;
}

@keyframes worm1 {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes worm2 {
  0% {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -358;
  }
}

@media (prefers-color-scheme: dark) {
  .loader-container {
    background-color: white;
  }
  .ip__track {
    stroke: #E0E0E0;
  }
}



@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}



@keyframes enter {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes leave {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

.animate-enter {
  animation: enter 0.15s ease-out forwards;
}

.animate-leave {
  animation: leave 0.15s ease-in forwards;
}


/* Error Page */
@keyframes animate-gradient {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.animate-gradient {
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 10s ease-in-out infinite;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #7e22ce);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #4338ca, #6b21a8);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}


.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}